/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  text-rendering: optimizeSpeed;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom Properties */
:root {
  /* colors */
  --iro-400: hsl(213, 61%, 15%);
  --iro-300: hsl(213, 41%, 26%);
  --iro-200: hsl(212, 20%, 37%);
  --iro-100: hsl(212, 60%, 60%);
  --iro-shiroi: hsl(0, 0%, 100%);

  /* fonts */
  --ff-primary: "Sono", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fc-primary: var(--iro-shiroi);

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-extra-bold: 800;

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-24: 1.5rem;
  --fs-36: 2.25rem;
  --fs-48: 3rem;

  --fs-primary-heading: var(--fs-48);
  --fs-secondary-heading: var(--fs-36);
  --fs-label: var(--fs-24);
  --fs-body: var(--fs-16);
  --fs-footer: var(--fs-12);
  --fs-description: var(--fs-14);
}

/* pseudo elements */
::backdrop {
  --iro-backdrop: hsl(213, 61%, 15%);
}

/* utility classes */

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-label {
  font-size: var(--fs-label);
}
.fs-description {
  font-size: var(--fs-description);
}

.fw-extra-light {
  font-weight: var(--fw-extra-light);
}
.fw-light {
  font-weight: var(--fw-light);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-extra-bold {
  font-weight: var(--fw-extra-bold);
}

.bg-primary {
  background-color: var(--iro-400);
}
.bg-secondary {
  background-color: var(--iro-200);
}
.bg-gradient {
  background-image: linear-gradient(var(--iro-400), var(--iro-200));
}
.bg-modal {
  background-color: var(--iro-100);
}

/* general styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--iro-shiroi);
}

/* header and footer */
.header,
.footer {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  gap: 1em;
}
.header {
  justify-content: space-between;
}
.footer {
  justify-content: center;
  font-size: var(--fs-footer);
}

/* main content */
main {
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 2em 1em 0;
  height: 100%;
  flex-direction: column;
}
.score,
.player,
.computer,
.weapons,
.item,
.choices,
.title {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
.choices,
.item,
.title {
  flex-direction: column;
}
svg > path {
  fill: var(--iro-shiroi);
}
.item > figcaption {
  text-align: center;
  inline-size: 20rem;
}

/* buttons */
.button {
  background-color: var(--iro-400);
  color: var(--fc-primary);
  text-align: center;
  padding: 0.25em 0.25em;
  border: none;
  border-radius: 5px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: var(--iro-200);
}
.button:active {
  background-color: var(--iro-300);
}

/* modals */
.modal {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 5px;
}
.modal-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.modal::backdrop {
  background: var(--iro-backdrop);
  opacity: 0.5;
}
